HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# others
.mvn
.mcp.json
.env
.env.test
commit-stages.sh
generate-commit-message-task.md
git-info-for-commit.sh
*.txt
*.md
!adr/*.md
!adr/*/*.md
!notes/*.md
!notes/*/*.md